# For Backend
PORT=8080
NODE_ENV=development

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://0.0.0.0:8080
CORS_ORIGIN=http://localhost:3000

MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/fix4ever?retryWrites=true&w=majority&appName=fix4ever

JWT_SECRET=your-jwt-secret-key
SESSION_SECRET=your-session-secret-key

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback

GOOGLE_MAPS_API_KEY=your-google-maps-api-key
GOOGLE_MAPS_GEOCODING_API_KEY=your-google-maps-geocoding-api-key

CASHFREE_APP_ID=your-cashfree-app-id
CASHFREE_SECRET_KEY=your-cashfree-secret-key
CASHFREE_ENVIRONMENT=sandbox
CASHFREE_MODE=TEST
CASHFREE_BASE_URL=https://sandbox.cashfree.com

# AWS Configuration (for SES Email and SNS SMS)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-south-1

AWS_SES_SENDER_EMAIL=support@fix4ever.com
AWS_S3_BUCKET_NAME=fix4ever-uploads
